<div style="display: none;">
	<div id="powrsocialfeed-dialog" title="How to use POWr Social Feed">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8V4WzSqpvRA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<h2>To configure POWr Social Feed:</h2>
		<ol>
      <li>Click <b>Configuration</b>, then click <b>Text formats and Editors</b></li>
      <li>On the line <b>Full HTML</b>, click <b>Configure</b></li>
      <li>Inside of <b>Toolbar Configuration</b>, drag the blue POWr Plugin Icons into the media bar.</li>
			<li>Click <b>Save</b></li>
    </ol>
		<br/>
		<h2>To Create a Social Feed:</h2>
		<ol>
			<li>On any content page, POWr Plugins can now be added by clicking the Social Feed or + POWr icon</li>
			<li><b>Set Full HTML as format</b> for plugins to properly render on the page.</li>
	    <li>In the preview or live page, click the <b>Edit</b> button to edit your Social Feed.</li>
		</ol>
		<i>To edit in the future, make sure you are logged into your account at <a href="https://www.powr.io" target="_blank">powr.io</a></i>
		<br/>
		<br/>
		<h2>Need Help?</h2>
		Visit the glorious POWr <a href="https://www.powr.io/knowledge-base" target="_blank">Knowledge Base</a>
	</div>
</div>
